<main>
    <div class="section"></div>
    <div class="section"></div>

    <div class="container center">
      <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
        <h4 style="color: #063B70">Recuperar contraseña</h4>
        <form [formGroup]="dataForm" class="col s12">
          <div class='row'>
            <div class='col s12'>
            </div>
          </div>

          <div class='row'>
            <div class='input-field col s12'>
              <input formControlName="email" class='validate' type='email' name='email' id='email' />
              <label for='email'>Ingrese su correo</label>
            </div>
          </div>
            <div class='row center'>
              <button
                type='button'
                name='btn_login'
                (click)="ResetPassword()"
                class='col s12 btn btn-large waves-effect'
                style="background-color: #063B70"
              >
                Enviar
              </button>
            </div>

        </form>
      </div>
    </div>

  <div class="section"></div>
  <div class="section"></div>
</main>
