<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
        <div class="borderTop">
          <img src="assets/images/LogosFoot.png">
          <img src="assets/images/otrosLogosU.png">
        </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="containerCopy">
Sujeta a inspección y vigilancia por el Ministerio de Educación Nacional - Sede Principal Calle 65 No 26 - 10 / Tel +57 6 8781500 Fax 8781501 / Apartado aéreo 275 / Línea gratuita : 01-8000-512120 E-mail ucaldas@ucaldas.edu.co - Notificaciones judiciales escribir a: gestion.juridica@ucaldas.edu.co - FAQ - Mapa del Sitio - Número de visitas - Tratamiento de datos personales - Trabaje con nosotros - Copyright © - Universidad de Caldas
      </div>
    </div>
</footer>
