<div class="row">
    <div class="row">
        <div class="input-field col s12">

            <strong>¿Está seguro(a) de eliminar el registro con la siguiente información?</strong>
            <br />
            <ul>
                <li>
                    Id: {{id}}
                </li>
                <li>
                    Nombre del Trabajo: {{workName}}
                </li>
                <li>
                    Descripción: {{description}}
                </li>
                <li>
                    Fecha: {{date_rad}}
                </li>
                <li>
                    Tipo de Comite: {{comiteType}}
                </li>
                <li>
                    Archivo: {{file}}
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <button type="button" class="btn btn-success" (click)="RemoveRecord()">Confirmar</button>
            &nbsp;<a class="btn btn-warning orange" routerLink="/parameters/solicitud-list">Cancelar</a>
        </div>
    </div>
</div>