<div class="row">
    <div class="col s12" *ngFor="let r of recordList">
        <div class="row">
            <div class="input-field col s3">
                <p>{{r.workName}}</p>
                <label>Nombre del Trabajo</label>
            </div>
            <div class="input-field col s3">
                <p>{{r.description}}</p>
                <label>Descripcion</label>
            </div>
            <div class="input-field col s3">
                <p>{{r.comiteType}}</p>
                <label>Tipo de comite</label>
            </div>
            <div class="input-field col s3">
                <p>{{r.file}}</p>
                <label>Archivo</label>
            </div>
            <div class="input-field col s3">
                <p>{{r.dateRad}}</p>
                <label>Fecha</label>
            </div>
        </div>
    </div>
</div>