<div class="row">
    <div class="col s12">
        <div class="row">
            <div class="input-field col s3">
                <p>{{workname}}</p>
                <label>Nombre del Trabajo</label>
            </div>
            <div class="input-field col s3">
                <p>{{description}}</p>
                <label>Descripcion</label>
            </div>
            <div class="input-field col s3">
                <p>{{comiteType}}</p>
                <label>Tipo de comite</label>
            </div>
            <div class="input-field col s3">
                <p>{{file}}</p>
                <label>Archivo</label>
            </div>
            <div class="input-field col s3">
                <p>{dateRad}}</p>
                <label>Fecha</label>
            </div>
        </div>
    </div>
</div>