<br>
<a routerLink="/parameters/user-creation" class="btn btn-success">Agregar Registro</a>

<fieldset>
    <legend>Listado de Usuarios</legend>
    <table>
        <thead>
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Rol
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let r of recordList">
                <td>
                    {{r.name}}
                </td>

                <td>
                    {{r.rolesId}}
                </td>

                <td *ngIf="isShow(r)">
                    <a class="btn btn-warning orange" routerLink="/parameters/user-edition/{{r._id}}">Notificar a Jurado</a>
                </td>
            </tr>
        </tbody>
    </table>
</fieldset>
