<div class="row">
  <form [formGroup]="dataForm" class="col s12">
    <div class="row">
      <div class="input-field col s3">
          <input formControlName="workName" id="txtNombre" type="text">
          <label for="txtNombre">Nombre del Trabajo</label>
      </div>
      <div class="input-field col s3">
          <input formControlName="description" id="txtDescripcion" type="text">
          <label for="txtDescripcion">Descripcion</label>
      </div>
      <div class="input-field col s3">
          <input formControlName="comiteType" id="tipoComite" type="text">
          <label for="comiteType">Tipo de Cómite</label>
      </div>
      <div class="input-field col s3">
          <input formControlName="file" id="archivo" type="file">
          <label for="archivo">Archivo</label>
      </div>
      <div class="input-field col s3">
          <input formControlName="date_rad" id="dateRad" type="date">
          <label for="dateRad">Fecha</label>
      </div>
      
    </div>

    <div class="row">
      <div class="input-field col s12">
        <select id="selLineas">
          <option *ngFor="let a of lineasInvestlist" value="{{a.id}}">{{a.name}}</option>
        </select>
      <label>Seleccion Lineas de Investigacion</label>
      </div>
      <div class="input-field col s12">
        <select id="selModalidad">
          <option *ngFor="let a of modalidadList" value="{{a.id}}">{{a.name}}</option>
        </select>
      <label>Seleccion Modalidad</label>
      </div>
      <div class="input-field col s12">
        <select id="selTipoSol">
          <option *ngFor="let a of tipoSolList" value="{{a.id}}">{{a.name}}</option>
        </select>
      <label>Seleccion Tipo de Solicitud</label>
      </div>      
    </div>

    <div class="row">
      <div class="input-field col s12">
        <button type="button" class="btn btn-success" (click)="SaveRecord()">Guardar</button>
        &nbsp;<a class="btn btn-warning orange" routerLink="/parameters/solicitud-list">Cancelar</a>
      </div>
    </div>
  </form>
</div>