<div class="row">
    <form [formGroup]="dataForm" class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input formControlName="answer" id="txtAnswer" type="text">
          <label for="txtAnswer">Respuesta</label>
        </div>
        <div class="row">
            <div class="input-field col s12">
              <select id="selComite">
                <option *ngFor="let a of comiteList" value="{{a.id}}">{{a.name}}</option>
              </select>
              <label>Seleccion Comite</label>
            </div>
        
            <div class="input-field col s12">
              <select id="selSolicitud">
                <option *ngFor="let a of solicitudList" value="{{a.id}}">{{a.workName}}</option>
              </select>
              <label>Seleccion Solicitud</label>
            </div>
          </div>
        
      </div>
      <div class="row">
        <div class="input-field col s12">
          <button type="button" class="btn btn-success" (click)="SaveRecord()">Guardar</button>
          &nbsp;<a class="btn btn-warning orange" routerLink="/parameters/comite-solicitud-list">Cancelar</a>
        </div>
      </div>
    </form>
  </div>