<div class="row">
    <form [formGroup]="dataForm" class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input formControlName="name" id="txtName" type="text">
          <label for="txtName">Nombre Completo</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input  id="txtTelefono" type="text">
          <label for="txtTelefono">Teléfono</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input  id="txtCorreo" type="email">
          <label for="txtCorreo">Correo</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input  id="fotoProponente" type="file">
          <label for="fotoProponente">Foto</label>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s12">
          <button class="btn btn-success" (click)="SaveRecord()"></button>
          &nbsp;<a href="" class="btn btn-warning orange" type="button" routerLink="/parameters/proponente-list">Cancelar</a>
        </div>
    </form>
  </div>